body {
    font-family:Comic Sans MS, Comic Sans, cursive;
}
button {
    font-family:Comic Sans MS, Comic Sans, cursive !important;
}
input {
    font-family:Comic Sans MS, Comic Sans, cursive !important;
}
table {
    border-collapse: collapse;
}
table,
th,
td {
    border: 1px solid black;
    cursor: pointer;
}
th,
td {
    padding: 10px;
}

html {
    filter: invert(100%);
}
.teammate-name {
    cursor: pointer;
    margin-bottom: 5px;
}
.hidden {
    display: none; 
}

.transparent0 {
    background-color: rgba(255, 255, 255, 0);
}
.transparent1 {
    background-color: rgba(255, 255, 255, 0.7);
}
.transparent2 {
    background-color: rgba(255, 255, 255, 1);
}